#schedule {
	font-family: "Cornerstone", "Lato", sans-serif;
	color: #000000;
}

.booth-frame {
	background-image: url("/booth.png");
	background-size: 2500px;
	background-position: 40% 50%;
	height: 100vh; 
	width: 100%;

  }

  .schedule-content {
	width: 50%; 
	max-width: 800px;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	box-sizing: border-box;
}	

/* Headless UI Tabs overrides */
.tab-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	background: transparent;
}

.tab {
	padding: 16px 32px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	background: rgba(0, 0, 0, 0.75);
	font-size: 1.25rem;
	transition: background-color 0.3s ease;
	margin-bottom: 4px; /* Ensure spacing between wrapped tabs */
	color: white;
}

.tab:hover {
	background-color: rgba(0, 0, 0, 0.22);
}

.tab[aria-selected="true"] {
	background-color: rgba(245, 245, 220, 0.75);
	border-bottom: 4px solid black;
	color: black;
}

/* Content panels */
.tab-panel {
	border-radius: 1em;
	background-color: #00000080;
	background-size: cover;
	background-position: center;
	padding: 32px;
	max-width: 1000px;
	margin: 0.5rem auto;
	color: white;
	font-size: 1.125rem;
}

.tab-panel li:hover {
	background-color: transparent;
}

.center {
	text-align: center;
}

.dateTime {
	text-align: right;
	display: inline;
	float: right;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
	.tab-list {
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.tab {
		padding: 8px 16px; /* Reduce padding for tabs on smaller screens */
		font-size: 1rem; /* Adjust font size for better readability */
	}

	.tab-panel {
		padding: 16px; /* Reduce padding for content panels */
		font-size: 1rem; /* Adjust font size for content */
	}
}

@media (max-width: 480px) {
	.tab-list {
		flex-direction: column; /* Stack tabs vertically on very small screens */
		align-items: center;
	}

	.tab {
		width: 90%; /* Full-width tabs for very small screens */
		text-align: center; /* Center tab text */
		margin-bottom: 8px; /* Add some space between stacked tabs */
	}
}
