@font-face {
	font-family: "cornerstone";
	src: url("/Cornerstone.ttf");
}
.custom-font {
	font-weight: 700;
	font-size: 3.75rem /* 60px */;
	line-height: 1;
	font-family: "cornerstone", sans-serif; /* Use the font-family defined earlier */
}

.rules-border {
	border: 2px solid black; /* Adjust the border size and color as needed */
	padding: 10px; /* Adjust padding as needed */
	border-radius: 10px;
}
