@font-face {
	font-family: "cornerstone";
	src: url("/Cornerstone.ttf");
}
.custom-font {
	font-weight: 700;
	font-size: 3.75rem /* 60px */;
	line-height: 1;
	font-family: "cornerstone", sans-serif; /* Use the font-family defined earlier */
}

.rules-border {
	/* Add additional styles or overrides for your .rules-border class */
	--border-width: 8px;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  	padding: 1rem;

	border-radius: var(--border-width);

	border: 4px solid green;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}
