@keyframes spinimg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the spin animation to the image */
  .spin {
    animation: spinimg 5s infinite linear;  /* Spins every 2 seconds continuously */
    width: auto;
    height: auto;
  }