/* Add this CSS to your stylesheet or component style block */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  width: 2500px; /* Adjust to accommodate all 16 slides */
  animation: rotateChallenges 12s infinite;
}

.slide {
  flex: 0 0 500px; /* Adjust the width as needed */
  text-align: center;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.black-box {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
}


@keyframes rotateChallenges {
  0% {
    transform: translateX(0);
  }
  16.66% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-500px);
  }
  41.66% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(-1000px);
  }
  66.66% {
    transform: translateX(-1000px);
  }
  75% {
    transform: translateX(-1500px);
  }
  91.66% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0);
  }
}
