@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--link-color: #3498db;
	}

	/* Account for fixed size of the Navbar upon jumping to links. */
	:target {
		scroll-margin-top: 130px;
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;

		font-family: Lato, Georgia, sans-serif;
		font-feature-settings: "rlig" 1, "calt" 1;
		background-color: #588157;
		background-image: url("../../public/website\ entire\ background.png");
		background-size: cover;
		background-position: top center;
		
	}
}

@layer components {
	.mlh-badge {
		display: block;
		max-width: 100px;
		min-width: 60px;
		position: fixed;
		right: 50px;
		top: 0;
		width: 10%;
		z-index: 10000;
	}

	.frame {
		background-image: url("../../public/images/SCREEN.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		--border-width: 8px;
		position: relative;
		@media (max-width: 960px) {
			background-size: cover;
			background-position: center center;
		}
		border-radius: var(--border-width);
	}

	@keyframes moveGradient {
	}
	.cyberspace-front-font {
		font-family: "cyperspace-front";
		font-size: 20px;
		@media (min-width: 768px) {
			font-size: 36px;
		}
	}

	.cornerstone-font {
		font-family: "cornerstone";
		font-size: 18px;
		@media (min-width: 768px) {
			font-size: 24px;
		}
	}

	.font-lato {
		font-family: Lato, sans-serif;
	}

	.shadowtext-on-grid {
		background: radial-gradient(rgba(0, 0, 0, 40), rgba(0, 0, 0, 0));
	}
}

@font-face {
	font-family: "cyperspace-front";
	src: url("../../public/fonts/CyberspaceRacewayFront.otf");
}

@font-face {
	font-family: "cornerstone";
	src: url("../../public/fonts/Cornerstone.ttf");
}

a {
	color: var(--link-color);
	text-decoration: underline;
}

a:hover {
	color: var(--link-color);
	text-decoration: underline;
	text-shadow: 0 0 1px var(--link-color);
}

.mobile-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.mobile-content {
	scroll-snap-align: start;
	scroll-padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
