@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

@layer base {
	:root {
		--background: hsl(0 0% 100%);
		--foreground: hsl(240 10% 3.9%);
		--card: #f8fafc;
		--card-foreground: hsl(240 10% 3.9%);
		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(240 10% 3.9%);
		--primary: hsl(240, 60%, 11%);
		--primary-foreground: hsl(0 0% 98%);
		--secondary: hsl(240 4.8% 95.9%);
		--secondary-foreground: hsl(240 5.9% 10%);
		--muted: hsl(240 4.8% 95.9%);
		--muted-foreground: hsl(240 3.8% 46.1%);
		--accent: hsl(240 4.8% 95.9%);
		--accent-foreground: hsl(240 5.9% 10%);
		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(0 0% 98%);
		--border: hsl(240 5.9% 90%);
		--ring: hsl(240 5.9% 10%);
		--input: hsl(240 5.9% 90%);
		--input-content: #2d3748;
		--selected-input: #2b6cb0;
		--radius: 0.5rem;
		--link-color: #3498db;
		--button: #007bff;
		--button-hover: #0056b3;
	}

	body {
		font-family: "Comic Relief";
		background-color: #FFD79E;

	}
}

@font-face {
	font-family: "Comic Relief";
	src: url("../../public/fonts/ComicRelief-Regular.ttf");
}


