.bg-green-500 {
    background-color: #84cc16; /* Example green color */
}

.bg-brown-500 {
    background-color: #a52a2a; /* Example brown color */
}

.text-white-custom {
    color: #e9dfdf
}

.text-blue-custom {
    color: #0000ff
}
