/* Profile.css */
.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; /* Align items to the top */
	font-family: "Cornerstone", "Lato", sans-serif;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: center;
		margin-bottom: 100px;
	}
}

.profile-container {
	padding: 8px;
	width: 100%;
	max-width: 500px;
	min-height: 554px; /* Set a minimum height to accommodate content with QR code */
	height: auto; /* Allow container to grow if content exceeds min-height */
	aspect-ratio: 590 / 554;
	z-index: 1;
	background: linear-gradient(
		137deg,
		rgb(255, 0, 179) 0%,
		rgba(0, 212, 255, 1) 100%
	);
	transition: 0.3s ease;
	border-radius: 30px;
	filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px) {
	.profile-container {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (min-width: 1024px) {
	.profile-container {
		margin-left: 200px;
		margin-right: 50px;
	}
}

.profile-container::after {
	content: "";
	background-color: #181818;
	position: absolute;
	z-index: -1;
	transition: 0.3s ease;
	height: 98%;
	width: 98%;
	top: 1%;
	left: 1%;
	border-radius: 27px;
}

.profile-container:hover {
	filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

.profile-content {
	max-width: 3xl;
	padding-top: 16px;
}

.profile-info {
	margin: auto;
	max-width: 2xl;
	padding: 0 20px;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.profile-text {
	text-align: center;
	color: white;
	z-index: 2;
}

.profile-details {
	margin-top: 24px;
}

.profile-detail {
	padding-top: 24px;
}

.qr-button-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
}

@media (max-width: 768px) {
	.qr-button-container {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.qr-button {
	appearance: none;
	background-color: transparent;
	border: 0.125em solid #1a1a1a;
	border-radius: 0.9375em;
	box-sizing: border-box;
	color: #3b3b3b;
	cursor: pointer;
	display: inline-block;
	font-size: 16px; /* Adjusted for readability on all devices */
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 3.75em;
	min-width: 0;
	outline: none;
	padding: 1em 2.3em; /* Padding could be adjusted for smaller screens */
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

@media (max-width: 768px) {
	.qr-button {
		font-size: 14px; /* Slightly smaller font size for smaller screens */
		padding: 0.8em 1.5em; /* Adjust padding for smaller screens */
	}
}

.qr-button:disabled {
	pointer-events: none;
}

.qr-button:hover {
	color: #fff;
	background-color: #1a1a1a;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.qr-button:active {
	box-shadow: none;
	transform: translateY(0);
}

.qr-code {
	margin-top: 16px;
}

.update-button,
.delete-button {
	display: inline-flex; /* Use inline-flex to center content within the button */
	align-items: center; /* Vertically center the text and icons */
	justify-content: center; /* Horizontally center the text and icons */
	padding: 0.875em 1.5em; /* Use em units for scalable padding */
	font-size: 1rem; /* Use rem for scalable font sizes */
	border-radius: 0.5em; /* Rounded corners */
	cursor: pointer;
	transition: all 0.3s ease; /* Smooth transition for hover effects */
	margin: 0.75em; /* Adequate margin to prevent overlap */
	border: 1px solid transparent; /* Default border, made transparent for a cleaner look */
}

.update-button {
	background-color: #292929;
	color: #fff;
}

.update-button:hover {
	border-color: #fff; /* Highlight border on hover */
}

.delete-button {
	background-color: inherit;
	color: #ffffff66; /* Slightly more opacity for better visibility */
	box-shadow: 0 0 0 2px #ffffff33; /* Softer shadow */
}

.delete-button:hover {
	color: red;
	box-shadow: 0 0 0 3px red; /* More pronounced shadow on hover */
}

.delete-button:active {
	transform: scale(0.95); /* Use transform for better performance */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
	.update-button,
	.delete-button {
		padding: 0.75em 1.2em; /* Slightly smaller padding */
		font-size: 0.9rem; /* Slightly smaller font size */
		margin: 0.5em; /* Reduce margin to fit smaller screens */
	}
}
