.sponsor-container {
	background-image: url("/Text Box.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 5px;
	padding: 12% 16% 16% 16%;
	margin: auto;
}

.sponsor-card {
	background-color: transparent;
	max-width: 80%;
	margin: auto;
}
