.sponsor-container {
	background-image: url("/Text Box.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 5px;
	padding: 24% 24% 24% 24%;
	margin: auto;
}

.sponsor-card {
	background-color: transparent;
	max-width: max-content;
	max-height: max-content;
	margin: auto;
}
